<?xml version="1.0"?>
<!--
/**
 * @author Eng. Asma Hawari
 *
 * @package Moyasser_STC
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="mysStc" frontName="mysStc">
            <module name="Moyasser_STC" />
        </route>
        <route id="success" frontName="success">
            <module name="Moyasser_STC" before="Magento_Checkout" />
        </route>
    </router>
</config>