<?xml version="1.0"?>
<!--
/**
 * @author Eng. Asma Hawari
 *
 * @package Moyasser_STC
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Controller\Onepage\Success" type="Moyasser\STC\Controller\Onepage\Success" />
</config>